<!DOCTYPE html>
<html Lang="en">
    <head>
        <meta charset="UFT-8" />
        <meta http-equiv="X-UA-Compatible" content="IE-edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>Document</title>
    </head>
    <body>
        <h1>HELLO WORLD</h1>
        <h2>This is a test page</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit illum temporibus maxime iure qui provident in, iusto harum nam consequuntur, perspiciatis molestias amet voluptatem soluta vel! Cupiditate nemo molestiae numquam!</p>
    </body>
    </head>
</html>