{% extends "./base.html" %}

{% block title %} Index {% endblock %}

{% block body %}
<h1 style="margin-bottom: 100px;">Proyectos United S5</h1>
<h2 id="Websy">Websy</h2>
<p>Websy es un microemprendimiento individual que transforma ideas en páginas web únicas, diseñadas y programadas según el estilo que elijas.
    Como emprendedor, me gusta trabajar de forma cercana y personalizada con cada cliente, escuchando sus ideas y dándoles vida en la web.
    Ya sea un sitio simple o un diseño más elaborado, me aseguro de que tu proyecto se vea genial y funcione aún mejor.</p>
<img src="{{ url_for('static', filename='img/websy-logo.jpeg') }}" alt="Logo de Websy" class="rounded mx-auto d-block" width="300">
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui error dolorem molestiae, aut distinctio nihil, beatae sequi tenetur velit, exercitationem animi amet alias rem doloremque perferendis magni quia ex facilis! Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem esse saepe distinctio nisi, architecto aspernatur quia excepturi id tenetur nesciunt dolores reprehenderit asperiores obcaecati debitis facere est? Culpa, quos molestias!</p>

<h1 style="margin-bottom: 100px;"></h1>
<h2 id="Emprendimiento-ejemplo-1">Emprendimiento ejemplo 1</h2>
<p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis nisi recusandae incidunt eligendi rem. Possimus quasi hic autem, ducimus officiis aut culpa recusandae ad deleniti, dolorem, obcaecati sequi voluptas enim.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, doloremque saepe nisi facere architecto perspiciatis maxime culpa cum repudiandae tempora reiciendis ducimus suscipit magni possimus quasi assumenda vero commodi sed.
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. A, autem. Itaque ab a iure nulla similique hic voluptatem laboriosam labore in, deleniti facere tenetur esse alias! Fugiat atque natus neque!
    <img src="{{ url_for('static', filename='img/imagen-ejemplo.jpeg') }}" alt="Logo de Websy" class="rounded mx-auto d-block" width="300">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero exercitationem delectus eligendi nisi impedit eum maiores sit soluta reiciendis deleniti. Suscipit molestias ullam officiis voluptates mollitia dolore repudiandae quasi iure?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa ipsam natus inventore et pariatur, accusamus libero numquam aut aperiam possimus enim assumenda quas placeat temporibus corporis porro omnis dolorem consectetur?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam voluptatum consectetur, facere nulla laudantium, explicabo expedita nemo enim ullam consequatur officiis inventore quaerat. Dicta cumque laudantium sint mollitia, eos dolores!
</p>

<h1 style="margin-bottom: 100px;"></h1>
<h2 id="Emprendimiento-ejemplo-2">Emprendimiento ejemplo 2</h2>
<p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis nisi recusandae incidunt eligendi rem. Possimus quasi hic autem, ducimus officiis aut culpa recusandae ad deleniti, dolorem, obcaecati sequi voluptas enim.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, doloremque saepe nisi facere architecto perspiciatis maxime culpa cum repudiandae tempora reiciendis ducimus suscipit magni possimus quasi assumenda vero commodi sed.
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. A, autem. Itaque ab a iure nulla similique hic voluptatem laboriosam labore in, deleniti facere tenetur esse alias! Fugiat atque natus neque!
    <img src="{{ url_for('static', filename='img/imagen-ejemplo.jpeg') }}" alt="Logo de Websy" class="rounded mx-auto d-block" width="300">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero exercitationem delectus eligendi nisi impedit eum maiores sit soluta reiciendis deleniti. Suscipit molestias ullam officiis voluptates mollitia dolore repudiandae quasi iure?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa ipsam natus inventore et pariatur, accusamus libero numquam aut aperiam possimus enim assumenda quas placeat temporibus corporis porro omnis dolorem consectetur?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam voluptatum consectetur, facere nulla laudantium, explicabo expedita nemo enim ullam consequatur officiis inventore quaerat. Dicta cumque laudantium sint mollitia, eos dolores!
</p>

<h1 style="margin-bottom: 100px;"></h1>
<h2 id="Emprendimiento-ejemplo-3">Emprendimiento ejemplo 3</h2>
<p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis nisi recusandae incidunt eligendi rem. Possimus quasi hic autem, ducimus officiis aut culpa recusandae ad deleniti, dolorem, obcaecati sequi voluptas enim.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, doloremque saepe nisi facere architecto perspiciatis maxime culpa cum repudiandae tempora reiciendis ducimus suscipit magni possimus quasi assumenda vero commodi sed.
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. A, autem. Itaque ab a iure nulla similique hic voluptatem laboriosam labore in, deleniti facere tenetur esse alias! Fugiat atque natus neque!
    <img src="{{ url_for('static', filename='img/imagen-ejemplo.jpeg') }}" alt="Logo de Websy" class="rounded mx-auto d-block" width="300">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero exercitationem delectus eligendi nisi impedit eum maiores sit soluta reiciendis deleniti. Suscipit molestias ullam officiis voluptates mollitia dolore repudiandae quasi iure?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa ipsam natus inventore et pariatur, accusamus libero numquam aut aperiam possimus enim assumenda quas placeat temporibus corporis porro omnis dolorem consectetur?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam voluptatum consectetur, facere nulla laudantium, explicabo expedita nemo enim ullam consequatur officiis inventore quaerat. Dicta cumque laudantium sint mollitia, eos dolores!
</p>



{% endblock %}
