{% extends "./base.html" %}

{% block title %} Servicios {% endblock %}

{% block body %}
<table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th scope="col" class="text-center">Emprendimiento</th>
        <th scope="col" class="text-center">¿Qué ofrecemos?</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Websy</th>
        <td>Diseño de páginas web</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>John</td>
      </tr>
    </tbody>
  </table>
  
{% endblock %}